html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  background-color: deeppink;
}

.form-section {
  background-color: aqua;
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  padding-top: 20px;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.form {
  text-align: center;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: darkorchid;
  font-style: italic;
}

select {
  outline: none;
}

input {
  display: flex;
  outline: none;
  margin: 0 auto;
  width: 170px;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 300;
  background-color: yellow;
  border: none;
  height: 30px;
  width: 100px;
}

.btn:hover {
  color: fuchsia;
}

/* #result {
  display: block;
  display: none;
  text-decoration: underline;
  background-color: yellow;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  padding-top: 8px;
  text-transform: uppercase;
} */

/* #result.open {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
